.section{
    &__button{
    padding: 15px;
    border-radius: 23px;
    border: none;
    background-color: $color-primaire;
    color: white;
    }
    &__button:hover{
        transition-duration: 0.5s;
        box-shadow: inset $color-secondaire 0px 6px 20px 2px;
    }
}
.fonctio{
    &__button{
        display: flex;
        align-items: center;
        align-content: center;
        margin: 15px;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 0px 24px -6px rgb(0 0 0 / 45%);
        &__nombre{
            display: flex;
            margin-left: -10px;
            margin-right: 18px;
            justify-content: center;
            align-items: center;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            color: white;
            background-color: $color-primaire ;
        }
        &__icone{
            font-size: 15px;
            color: grey;
        }
        &__text{
            padding-left: 6%;
            font-size: 15px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        &:hover{
            background-color: lighten($color-primaire, 35%);
            
                .fonctio__button__icone{
                    color: $color-primaire;
                }
            
    }
}      
}