body, html {
  font-family: "Roboto", sans-serif;
}

.header__logo, .footer__info__logo, .head__title {
  font-family: "Shrikhand", cursive;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  margin: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.section__localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0px 8px 5px 0px rgba(0, 0, 0, 0.12);
}
.section__titre {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.section__contenue {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.fonctio__placement {
  display: flex;
  flex-direction: column;
}
.fonctio__headtitle {
  margin-left: 15px;
}

@media (min-width: 1024px) {
  .fonctio__placement {
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctio__button {
    width: 30%;
  }

  .restau__placement {
    display: flex;
  }
  .restau__affiche {
    width: 25%;
  }
}
.section__button {
  padding: 16px 35px;
  border-radius: 23px;
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  transition-duration: 0.25s;
}
.section__button:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.fonctio__button {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.45);
}
.fonctio__button__nombre {
  display: flex;
  margin-left: -10px;
  margin-right: 18px;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.fonctio__button__icone {
  font-size: 15px;
  color: grey;
}
.fonctio__button__text {
  padding-left: 6%;
  font-size: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.fonctio__button:hover {
  background-color: #f2eafb;
}
.fonctio__button:hover .fonctio__button__icone {
  color: #9356DC;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: spin 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  height: 120px;
  width: 120px;
  border: 5px solid #9356DC;
  border-top: 5px solid #99E2D0;
  border-bottom: 5px solid #FF79DA;
  border-radius: 100%;
  animation: spin 2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
.footer {
  padding: 20px;
  background-color: #353535;
}
.footer__info__logo {
  width: 100px;
  filter: invert(100%);
}
.footer__info__link {
  color: white;
  margin: 0px;
  margin-top: 5px;
  font-size: 15px;
}
.footer__info__link__picture {
  font-size: 13px;
  padding-right: 10px;
}
.footer__info__go {
  color: white;
  text-decoration: none;
}

.header__arrow {
  position: absolute;
  left: 5%;
  top: 16px;
  font-size: 25px;
  color: black;
}

.menuPicture {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.container {
  margin-top: -40px;
  border-radius: 20px 20px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  padding: 0px 10px 50px 25px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}
.menu__title::after {
  content: "";
  width: 52px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuInside {
  display: flex;
  overflow: hidden;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 0px;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.45);
  animation: appear 0.6s;
  animation-fill-mode: both;
  transform: scale(0);
}
.menuInside__header {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuInside__name {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuInside__description {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuInside__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menuInside__confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  margin: -16px -75px -16px 13px;
  width: 60px;
  transition-duration: 1s;
}
.menuInside:hover .menuInside__confirmation {
  margin-right: -16px;
}
.menuInside__wrap {
  display: flex;
  background-color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}
.menuInside__icon {
  color: #99E2D0;
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 35px;
}

.restau {
  background-color: #f6f6f6;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.restau__headtitle {
  margin: 0px 0px 0px 15px;
}
.restau__affiche {
  margin: 10px 15px 0px 15px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.45);
}
.restau__affiche__link {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.restau__affiche__picture {
  width: 100%;
  height: 192px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restau__affiche__nom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
}
.restau__affiche__nom__icone {
  overflow: hidden;
}
.restau__affiche__text {
  margin: 15px 0px 15px 0px;
}
.restau__affiche__text__title {
  margin: 0;
  margin-bottom: 3px;
}
.restau__affiche__text__lieu {
  margin: 0;
}
.restau__affiche__new {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 5px;
}
.restau__affiche__coeur {
  font-size: 25px;
}
.restau__affiche__coeur:hover {
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  transition-duration: 0.5s;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay0 {
  animation-delay: 0s;
}

.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.2s;
}

.delay3 {
  animation-delay: 0.3s;
}

.delay4 {
  animation-delay: 0.4s;
}

.delay5 {
  animation-delay: 0.5s;
}

.delay6 {
  animation-delay: 0.6s;
}

.delay7 {
  animation-delay: 0.7s;
}

.delay8 {
  animation-delay: 0.8s;
}

.delay9 {
  animation-delay: 0.9s;
}

@media (min-width: 1024px) {
  .head {
    padding: 0px 25px 0px 0px;
  }

  .allmenu {
    display: flex;
  }

  .menu {
    width: 33%;
  }

  .menuInside {
    margin: 20px 20px 20px 0px;
  }

  .container {
    padding: 0px 0px 50px 25px;
  }
}

/*# sourceMappingURL=style.css.map */
