.footer{
    padding: 20px;
    background-color: #353535;
    &__info{
        &__logo{
            width: 100px;
        }
        &__link{
            color: white;
            margin: 0px;
            margin-top: 5px;
            font-size: 15px;
            
            &__picture{
                font-size: 13px;
                padding-right: 10px;
            }
        }
    }
}