.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom: 50px;
    &__localisation{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #eaeaea;
        box-shadow: inset 0px 8px 5px 0px rgb(0 0 0 / 12%);
    }
    &__titre{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    &__contenue{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
}

.fonctio{
    &__placement{
        display: flex;
    flex-direction: column;
    }
    
    &__headtitle{
        margin-left: 15px;
    }
}

@media (min-width:1024px){
    .fonctio{
        &__placement{
            flex-direction: row;
            justify-content: space-between;
        }
        &__button{
            width: 30%;
        }
    }
    
    .restau{
        &__placement{
            display: flex;
        }
    }


}