.header {
    &__arrow {
        position: absolute;
        left: 5%;
        top: 16px;
        font-size: 25px;
        color: black;
    }
}

.menuPicture {
    max-width: 100%;
    max-height: 512px;
    width: 100%;
    object-fit: cover;
}

.container {
    margin-top: -40px;
    border-radius: 20px 20px 0px 0px;
    background-color: #f6f6f6;
    position: relative;
    padding: 0px 10px 50px 25px;

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    &__title {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 5px;

        &::after {
            content: "";
            width: 52px;
            height: 3px;
            background-color: $color-tertiaire;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.menuInside {
    display: flex;
    overflow: hidden;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px -6px rgb(0 0 0 / 45%);
    animation: appear .6s;
    animation-fill-mode: both;
    transform: scale(0);

    &__header {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__name {
        margin: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__description {
        margin: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__confirmation {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiaire;
        margin: -16px -75px -16px 13px;
        width: 60px;
        transition-duration: 1s;
    }

    &:hover &__confirmation{
        margin-right: -16px;
    }

    &__wrap {
        display: flex;
        background-color: white;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        transform: rotate(360deg);
        transition-duration: 1s;
    }
    &:hover &__wrap{
        transform: rotate(0);
    }

    &__icon {
        color: $color-tertiaire;
    }

}

.commander {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
}



.restau {
    background-color: #f6f6f6;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    &__headtitle {
        margin: 0px 0px 0px 15px;
    }

    &__affiche {
        margin: 10px 15px 0px 15px;
        background-color: white;
        border-radius: 15px;
        position: relative;
        box-shadow: 0px 0px 10px -6px rgb(0 0 0 / 45%);

        &__link {
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &__picture {
            width: 100%;
            height: 192px;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }

        &__nom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 10px 0px 10px;

            &__icone {
                overflow: hidden;
            }
        }

        &__text {
            margin: 15px 0px 15px 0px;

            &__title {
                margin: 0;
                margin-bottom: 3px;
            }

            &__lieu {
                margin: 0;
            }
        }

        &__new {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: $color-tertiaire;
            color: #1b6150;
            padding: 5px;
        }

        &__coeur {
            font-size: 25px;
        }

        &__coeur:hover {
            cursor: pointer;
            background: linear-gradient(0deg,$color-primaire,$color-secondaire);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
        }
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@for $i from 0 to 10 {
    .delay#{$i} {
        animation-delay: #{$i*0.1}s;
    }
}

@media (min-width:1024px) {
    .head {
        padding: 0px 25px 0px 0px;
    }

    .allmenu {
        display: flex;
    }

    .menu {
        width: 33%;
    }

    .menuInside {
        margin: 20px 20px 20px 0px;
    }

    .container {
        padding: 0px 0px 50px 25px;
    }

}